.odd{
    background-color: hsl(316, 86%, 46%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#second{
    color: hsl(240, 87%, 46%);
    font-size: 24px;

}

#third{
    font-size: 24px;

}

#fourth{
    background-color: rgb(16, 231, 80);
    font-size: 24px;
    font-weight: bold;
}